/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*estilos del body*/

body {
    background-color:white
    flex-wrap
 
}

/*MENU*/
header{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px; 
}

nav ul li{
    background-color:pink;
    padding: 10px;
    color: whitesmoke;
    list-style: none;
    text-align: right;
    text-shadow: 3px 2px 5px black;
    border-radius: 40px;
    box-shadow: 3px 2px 5px black;
}


main{ 
    background-color: white;  
}

main h1{
    background-color: rgb(255, 215, 222);
   text-align: center;
    color: pink;
    height: 50px;
}

/*tienda*/

.tiendita{
    color: black;
}

.tienda{
    height: 700px;
    margin: 5px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
   
}

.objetos{
    
    width: 450px;
    height: 545px;
    background-color: pink;
    margin: 40px;
    padding: 10px;

}

/*contacto*/

header {
    display: none;
}


/* mq */
@media screen and (min-width:800px){
    header{
        display: block;
        display: flex;
        justify-content: center;
    }   
}
